lib/
**/old/
node_modules/
example_events/
stackset_templates/
.eslintcache
*.bak
*.sh
*.zip
sample*.js
!test_create_instances.sh
*.lock
*-lock.json
**/*-parameters.json
cache/
**/cache/
cloud_formation/event_multi_region_template/autotag_event_main-template.json
pgi_deployment/
**/old2/
test_suite_sum/
.idea
